@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.navpar{
    background-color: #9FB0C8;
    width:100%;
    position: fixed;
    z-index: 999;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}
.logo{
    text-decoration: none;
    color:#F9F5F5 ;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    font-family: 'Mr Dafoe', cursive;
}
.Navigation a{
    text-decoration: none;
    color:#F9F5F5 ;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.Navigation a:hover {
    color:blue ;
}
section{
   padding: 100px 200px; 
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(./picture/soo.jpg) no-repeat;
    background-size: cover;
    background-position: center ;
}
.main h1{
    font-family: 'Fasthand', cursive;
    color: #f6ecec;
    font-size: 50PX;
    font-weight: 400 ;
    
}
.main h4{
    color: #f6ecec;
    font-size: 25PX;
    font-weight: 400;
    margin-bottom: 20px;
    margin-left: 20px;
}
.main p{
    color: #f6ecec;
    margin-right: 40%;
}
.CV{
    background-color: rgb(243, 214, 214);
    text-decoration: none;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;

}

.title{
    display: flex;
    justify-content: center;
    color:#455a60  ;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
 
    background-color: #f07f4284;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1/15%);
    color: #455a60;
    border-radius: 10px;
    padding: 25px;
    margin:15px ;
}
.icon{
    font-size: 6em;
    text-align: center;
}
.info{
    text-align:center ;
   color:  #455a60 ;
}

.info h3{
    font-size: 1.25;
    text-align: center;
    font-weight: 600;
    margin: 10px;
}

.PROJECTS{
    background-color: rgb(244, 245, 248);
}
.PROJECTS .content{
    margin-top: 5%;
}
.project-card{
    color: #455a60;
    background-color: #f3e5e5;
    border: 1px solid  rgb(205, 208, 216);
    min-height: 15em;
    width: 16em ;
    border-radius:20px ;
    margin: 20px;
    text-align: center;
}
.project-image img{
    width: 100%;
    height: 200px;
    border: 1px solid white;
    border-radius: 20px;
}
.skills-card{
    background-color: #f07f4284;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1/15%);
    color: #455a60;
    border-radius: 10px;
    padding: 25px;
    margin:15px ;
    
}
.skills-content{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;   
}


footer{
    background-color: #9FB0C8;
    color: #615888;
}

.footer-contacts{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
}    
.footer-con{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title-footer{
    text-align: center;
    color:#F9F5F5 ;
    font-weight: 600;
    font-size: 2em;
    padding-bottom: 10px;  
}
.footer-icons a{
font-size:2.5em; 
color: #455a60;
}


@media screen and (min-width:375px) and (max-width:667px){
 .navpar
    
}

